openapi: 3.0.0
servers:
  - description: Beef and Leather OpenAPI Definition
info:
  description: This is a minimized version of the full OpenAPI definition file for the Digital Link and EPCIS endpoints required for Beef and Leather Traceability Framework.
  version: "1.0.0"
  title: GDST API
paths:
  /417/{pgln}:
    get:
      tags:
        - digitallink
      summary: Returns links for PGLN specified.
      description: Returns a list of links for the specified PGLN.
      parameters:
        - in: query
          name: linkType
          description: Specifies the types of links that should be returned.
          required: false
          schema:
            type: string
        - in: path
          name: pgln
          description: PGLN in the GLN-13, EPCIS URN Format, or GDST URN Format.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns one or more GS1 Digital Links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Link'
        '401':
          description: Unauthorized
        '404':
          description: No links were found.
        '500':
          description: An internal error occured.
  /414/{gln}:
    get:
      tags:
        - digitallink
      summary: Returns links for GLN specified.
      description: Returns a list of links for the specified GLN.
      parameters:
        - in: query
          name: linkType
          description: Specifies the types of links that should be returned.
          required: false
          schema:
            type: string
        - in: path
          name: gln
          description: GLN in the GLN-13, EPCIS URN Format, or GDST URN Format.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns one or more GS1 Digital Links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Link'
        '401':
          description: Unauthorized
        '404':
          description: No links were found.
        '500':
          description: An internal error occured.
  /01/{gtin}:
    get:
      tags:
        - digitallink
      summary: Returns links for GTIN specified.
      description: Returns a list of links for the specified GTIN.
      parameters:
        - in: query
          name: linkType
          description: Specifies the types of links that should be returned.
          required: false
          schema:
            type: string
        - in: path
          name: gtin
          description: GTIN in the GTIN-12, GTIN-14, or EPCIS URN format, or GDST URN format.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns one or more GS1 Digital Links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Link'
        '401':
          description: Unauthorized
        '404':
          description: No links were found.
        '500':
          description: An internal error occured.
  /01/{gtin}/10/{lot}:
    get:
      tags:
        - digitallink
      summary: Returns links for EPC (GTIN+Lot Number) specified.
      description: Returns a list of links for the specified EPC (GTIN+Lot Number).
      parameters:
        - in: query
          name: linkType
          description: Specifies the types of links that should be returned.
          required: false
          schema:
            type: string
        - in: path
          name: gtin
          description: GTIN in the GTIN-12, GTIN-14, or EPCIS URN format, or GDST URN format.
          required: true
          schema:
            type: string
        - in: path
          name: lot
          description: The lot number.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns one or more GS1 Digital Links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Link'
        '401':
          description: Unauthorized
        '404':
          description: No links were found.
        '500':
          description: An internal error occured.
  /01/{gtin}/21/{serial}:
    get:
      tags:
        - digitallink
      summary: Returns links for EPC (GTIN+Serial Number) specified.
      description: Returns a list of links for the specified EPC (GTIN+Serial Number).
      parameters:
        - in: query
          name: linkType
          description: Specifies the types of links that should be returned.
          required: false
          schema:
            type: string
        - in: path
          name: gtin
          description: GTIN in the GTIN-12, GTIN-14, or EPCIS URN format, or GDST URN format.
          required: true
          schema:
            type: string
        - in: path
          name: serial
          description: The serial number.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns one or more GS1 Digital Links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Link'
        '401':
          description: Unauthorized
        '404':
          description: No links were found.
        '500':
          description: An internal error occured.
  /events:
    get:
      tags:
        - epcis
      summary: Get one or more events that contain the given EPC.
      operationId: getEvents
      description: 'This is a GET method where the sender is requesting a list of events that are associated with a specific EPC. Some events may be witheld if Authorization is not enough.'
      parameters:
        - in: path
          name: epc
          description: Pass GTIN+LOT EPC or GTIN+Serial EPC in EPCIS URI format according to the CBV 1.2.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns all EPCIS events that contain the given EPC.
          content:
            application/xml:
              schema:
                type: "string"
                externalDocs:
                  description: 'EPCIS Document'
                  url: 'https://raw.githubusercontent.com/IFTGFTC/GDST/master/Data%20Sharing/Schemas/EPCglobal-epcis-1_2.xsd'
        '400':
          description: GLN is not a valid format.
        '401':
          description: Authorization failed and is required.  
        '420':
          description: GLN not recognized.
        '5XX':
          description: Unexpected error.
    post:
      tags:
        - epcis
      summary: Posts one o more EPCIS events to the server.
      operationId: postEvents
      description: 'Posts one o more EPCIS events to the server.'
      responses:
        '200':
          description: The events were accepted by the server and have been successfully processed.
        '400':
          description: EPCIS Events not in valid format.
        '401':
          description: Authorization failed and is required.
        '420':
          description: EPCIS Events are in valid format, but are invalid.
        '421':
          description: Incomplete EPCIS Events. There is Master Data referenced in the EPCIS events that is not contained in the posted XML. Either no GDST-Response-URL http header was supplied, or the look-up server returned an error while trying to resolve the Master Data. EPCIS events were not processed successfully.  
        '5XX':
          description: Unexpected error.
      requestBody:
        content:
          application/xml:
              schema:
                type: "string"
                externalDocs:
                  description: 'EPCIS Document'
                  url: 'https://raw.githubusercontent.com/IFTGFTC/GDST/master/Data%20Sharing/Schemas/EPCglobal-epcis-1_2.xsd'
components:
  schemas:
    Link:
      type: object
      required:
        - link
        - title
        - linkType
      properties:
        link:
          type: string
          format: url
          example: https://example.org/products/ABC/123
        title:
          type: string
          example: GS1 Web Vocab Product Information
        linkType:
          type: string
          format: urn
          example: gs1:masterData
        mimeType:
          type: string
          example: application/json